In [266]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [267]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
529,tt0259711,68000000,203388341,Vanilla Sky,Tom Cruise|PenÃ©lope Cruz|Cameron Diaz|Kurt Ru...,Cameron Crowe,"Forget everything you know, and open your eyes.","David Aames (Tom Cruise) has it all: wealth, g...",136,Drama|Mystery|Romance|Science Fiction|Thriller,Paramount Pictures|Cruise-Wagner Productions|V...,12/10/2001,6.3,2001
1352,tt0418763,72000000,96889998,Jarhead,Jamie Foxx|Jake Gyllenhaal|Scott MacDonald|Luc...,Sam Mendes,Welcome to the suck.,Jarhead is a film about a US Marine Anthony Sw...,125,Drama|War,Universal Pictures|Neal Street Productions|Red...,11/4/2005,6.4,2005
295,tt1231580,75000000,443140005,Alvin and the Chipmunks: The Squeakquel,Zachary Levi|David Cross|Jason Lee|Justin Long...,Betty Thomas,The Boys are back in town... and they have com...,"Pop sensations Alvin, Simon and Theodore end u...",88,Comedy|Family|Animation|Fantasy|Music,Regency Enterprises|Fox 2000 Pictures|Bagdasar...,12/21/2009,5.3,2009
371,tt1228705,200000000,623933331,Iron Man 2,Robert Downey Jr.|Gwyneth Paltrow|Don Cheadle|...,Jon Favreau,"It's not the armor that makes the hero, but th...",With the world now aware of his dual life as t...,124,Adventure|Action|Science Fiction,Marvel Studios,4/28/2010,6.6,2010
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012

In [268]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [269]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

#changing 'release_date' it to datetime format.
data['release_date'] = pd.to_datetime(data.release_date)


#add column 'profit'.
#difference between revenue and budget.
data['profit'] = data['revenue'] - data['budget']

#add columns 'release_month'.
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [270]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [271]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data.budget == data.budget.max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [272]:
# можно добавлять разные варианты решения
data[['original_title', 'imdb_id']][data.budget == data.budget.max()]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [273]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # "+"

In [274]:
#код для решения Вопроса 2 (вариант 1)
data.loc[data.runtime == data.runtime.max()][['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

In [275]:
#код для решения Вопроса 2 (вариант 2)
data[['original_title', 'imdb_id', 'runtime']][data.runtime == data.runtime.max()]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [276]:
# вариант ответа на Вопрос 3.
answers['3'] = '3. Winnie the Pooh (tt1449283)' # "+"

In [277]:
#код для решения Вопроса 3 (вариант 1)
data.loc[data.runtime == data.runtime.min()][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

In [278]:
#код для решения Вопроса 3 (вариант 2)
data[['original_title', 'imdb_id', 'runtime']][data.runtime == data.runtime.min()]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [279]:
# вариант ответа на Вопрос 4.
answers['4'] = '2. 110' # "+"

In [280]:
#код для решения Вопроса 4 (вариант 1)
data.runtime.mean()

109.6585494970884

In [281]:
#код для решения Вопроса 4 (вариант 2)
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,release_month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000

# 5. Каково медианное значение длительности фильмов?

In [282]:
# вариант ответа на Вопрос 5.
answers['5'] = '1. 107' # "+"

In [283]:
#код для решения Вопроса 5 (вариант 1)
data.runtime.median()

107.0

In [284]:
#код для решения Вопроса 5 (вариант 2)
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,release_month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [285]:
# вариант ответа на Вопрос 6.
answers['6'] = '5. Avatar (tt0499549)' # "+"

In [286]:
#код для решения Вопроса 6 (вариант 1)
data.loc[data.profit == data.profit.max()][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [287]:
#код для решения Вопроса 6 (вариант 2)
data[['original_title', 'imdb_id', 'profit']][data.profit == data.profit.max()]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [288]:
# вариант ответа на Вопрос 7.
answers['7'] = '5. The Lone Ranger (tt1210819)' # "+"

In [289]:
#код для решения Вопроса 7 (вариант 1)
data[['original_title', 'imdb_id', 'profit']][data.profit == data.profit.min()]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [290]:
#код для решения Вопроса 7 (вариант 2)
data.loc[data.profit == data.profit.min()][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [291]:
# вариант ответа на Вопрос 8.
answers['8'] = '1. 1478' # "+"

In [292]:
#код для решения Вопроса 8 (вариант 1)
data['original_title'][(data.profit > 0)].count()

1478

In [293]:
#код для решения Вопроса 8 (вариант 2)
len(data[(data.profit > 0)])

1478

In [294]:
#код для решения Вопроса 8 (вариант 3)
data['original_title'][(data.revenue > data.budget)].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [295]:
# вариант ответа на Вопрос 9.
answers['9'] = '4. The Dark Knight (tt0468569)' # "+"

In [296]:
#код для решения Вопроса 9 (вариант 1)
data_year = data[data.release_year == 2008]
data_year[['original_title', 'imdb_id']][data_year.revenue == data_year.revenue.max()]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [297]:
# вариант ответа на Вопрос 10.
answers['10'] = '5. The Lone Ranger (tt1210819)' # "+"

In [298]:
#код для решения Вопроса 10 (вариант 1)
data_years = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data_years[['original_title', 'imdb_id', 'release_year']][data_years.profit == data_years.profit.min()]

       original_title    imdb_id  release_year
1245  The Lone Ranger  tt1210819          2013

In [299]:
#код для решения Вопроса 10 (вариант 2)
data_years = data.query('release_year>=2012 & release_year<=2014')
data_years[['original_title', 'imdb_id', 'release_year']][data_years.profit == data_years.profit.min()]

       original_title    imdb_id  release_year
1245  The Lone Ranger  tt1210819          2013

# 11. Какого жанра фильмов больше всего?

In [228]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [300]:
# вариант ответа на Вопрос 11.
answers['11'] = '3. Drama' # "+"

In [301]:
#код для решения Вопроса 11 (вариант 1)
data_genres = data['genres'].str.split('|').sum()
rating_genres = Counter(data_genres).most_common(5)
display(rating_genres)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [302]:
# вариант ответа на Вопрос 12.
answers['12'] = '1. Drama' # "+"

In [303]:
#код для решения Вопроса 12 (вариант 1).
#фильтруем ДатаФрейм по фильмам с прибылью
ganres_profit = data[data.profit >0]


#находим наибольшее количество жанров среди прибыльных фильмов
ganres_pro = ganres_profit['genres'].str.split('|').sum()
rating_genres_pro = Counter(ganres_pro).most_common(5)
display(rating_genres_pro)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [304]:
# вариант ответа на Вопрос 13.
answers['13'] = '5. Peter Jackson' # "+"

In [305]:
#код для решения Вопроса 13 (вариант 1).
#создаем сводную таблицу для режисеров по сумме кассовых сборов
grouped_data = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(grouped_data.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [306]:
# вариант ответа на Вопрос 14.
answers['14'] = '3. Robert Rodriguez' # "+"

In [307]:
#код для решения Вопроса 14 (вариант 1).


#фильтруем датафрейм по строкам, в которых есть 'Action'.
#считаем количество имен режисеров, повторяющихся чаще всего.
director_action = data[data['genres'].str.contains('Action', na=False)]
directors_action = director_action['director'].str.split('|').sum()
director_actions = Counter(directors_action).most_common(10)
display(director_actions)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6),
 ('Brett Ratner', 5),
 ('Quentin Tarantino', 5),
 ('Zack Snyder', 5),
 ('Roland Emmerich', 5),
 ('Andrzej Bartkowiak', 5)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [308]:
# вариант ответа на Вопрос 15.
answers['15'] = '3. Chris Hemsworth' # "+"

In [309]:
#код для решения Вопроса 15 (вариант 1).
#создаем датафрейм с фильмами за 2012 год.
data_year_2012 = data[data.release_year == 2012]

#создаем Series со списком актерев в фильмах с кассовыми сборами выше среднего
#считаем сколько раз актер повторяется в списках самых кассовых фильмов.
cast_2012 = data_year_2012[['cast']
                          ][data_year_2012.revenue 
                            > data_year_2012.revenue.mean()]
cast_2012_1 = cast_2012['cast'].str.split('|').sum()
cast_2012_2 = Counter(cast_2012_1).most_common(5) 
display(cast_2012_2)

[('Chris Hemsworth', 2),
 ('Anne Hathaway', 2),
 ('Ralph Fiennes', 2),
 ('Charlize Theron', 2),
 ('Denis Leary', 2)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [310]:
# вариант ответа на Вопрос 16.
answers['16'] = '3. Matt Damon' # "+"

In [311]:
#код для решения Вопроса 16 (вариант 1).
#создаем датафрейм с высокобюджетными фильмами.
hight_budget = data[data.budget > data.budget.mean()]

#создаем Series со списком актерев в фильмах с бюджетом выше среднего.
#считаем сколько раз актер повторяется в списках.
data_cast = hight_budget['cast'].str.split('|').sum()
cast_actor = Counter(data_cast).most_common(5)
display(cast_actor)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [312]:
# вариант ответа на Вопрос 17.
answers['17'] = '2. Action' # "+"

In [313]:
#код для решения Вопроса 17 (вариант 1).
#фильтруем датафрейм по фильмам с актером Nicolas Cage.
Nicolas_Cage = data[data['cast'].str.contains('Nicolas Cage', na=False)]
Nicolas_genres = Nicolas_Cage['genres'].str.split('|').sum()
Nicolas_genre = Counter(Nicolas_genres).most_common(5) #считаем количество жанров фильмов с Nicolas Cage.
display(Nicolas_genre)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 18. Самый убыточный фильм от Paramount Pictures

In [314]:
# вариант ответа на Вопрос 18.
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # "+"

In [315]:
#код для решения Вопроса 18 (вариант 1).
#фильтруем датафрейм по фильмам, снятым с участием Paramount Pictures.
#находим фильм самой низкой прибылью.
data_PP = data[data['production_companies'].str.contains('Paramount Pictures', na=False)]
PP_profit = data_PP[['original_title', 'imdb_id']][data_PP.profit == data_PP.profit.min()]
display(PP_profit)

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [316]:
# вариант ответа на Вопрос 19.
answers['19'] = '5. 2015' # "+"

In [317]:
#код для решения Вопроса 19 (вариант 1).
#создаем сводную таблицу по годам и по сумме кассовых сборов.
grouped_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_year)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [318]:
# вариант ответа на Вопрос 20.
answers['20'] = '1. 2014' # "+"

In [319]:
#код для решения Вопроса 20 (вариант 1).
#фильтруем датафрейм по фильмам, снятым с участием Paramount Pictures.
#находим фильм самой низкой прибылью.
data_WB = data[data['production_companies'].str.contains('Warner Bros', na=False)]
grouped_WB = data_WB.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
print(grouped_WB)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [320]:
# вариант ответа на Вопрос 21.
answers['21'] = '4. Сентябрь' # "+"

In [321]:
#код для решения Вопроса 21 (вариант 1).

#считаем количество повторений месяца выхода фильмов.
data_month = Counter(data['release_month']).most_common(10)
display(data_month)

[(9, 227),
 (12, 190),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [322]:
# вариант ответа на Вопрос 22.
answers['22'] = '2. 450' # "+"

In [323]:
#код для решения Вопроса 22 (вариант 1).

#считаем сумму строк по 'original_title' в периоде месяцев с 6 по 8.
summer_movies = data.query('release_month>=6 & release_month<=8').count()
display(summer_movies.original_title)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [324]:
# вариант ответа на Вопрос 23.
answers['23'] = '5. Peter Jackson'

In [325]:
#код для решения Вопроса 23 (вариант 1).

#создаем датасет с фильмами, вышедшими зимой.
#P.S. почему-то не получилось сразу создать датасет с нужными данными, пришлось склеивать(.
winter_movies1 = data[data.release_month == 12]
winter_movies2 =  data[data.release_month <= 2]
winter_movies = pd.concat([winter_movies1, winter_movies2])

#считаем количество повторений имен режисеров в фильмах, вышедших зимой.
win_director = winter_movies['director'].str.split('|').sum()
winter_director = Counter(win_director).most_common(10)
display(winter_director)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4),
 ('Adam Shankman', 4),
 ('Martin Scorsese', 4),
 ('Ridley Scott', 3),
 ('Rob Marshall', 3),
 ('Tim Burton', 3)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [326]:
# вариант ответа на Вопрос 24.
answers['24'] = '1. Universal Pictures (Universal)'

In [383]:
#код для решения Вопроса 24 (вариант 1).

#добывим еще один столбец с данными о длинне наименования фильмов
data['title_len'] = data.original_title.apply(lambda s: len(s))

#находим ниманования фильмов длинной больше среднего
title_long = data[data.title_len > data.title_len.mean()]

#в новом датафрейме считаем количество повторений кинокомпаний для фильмов с длинным наименованием
companies = title_long.production_companies.str.cat(sep='|').split('|')
companies = pd.Series(companies)
companies = companies.value_counts(ascending=False)
display(companies)

Universal Pictures                        67
Warner Bros.                              57
Paramount Pictures                        57
Twentieth Century Fox Film Corporation    48
New Line Cinema                           42
                                          ..
Optional Pictures                          1
New Regency Productions                    1
Essential Media & Entertainment            1
Corsan                                     1
Merlin Films                               1
Length: 897, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [332]:
# вариант ответа на Вопрос 25.
answers['25'] = '1. Universal Pictures'

In [385]:
#код для решения Вопроса 25 (вариант 1).

#добывим еще один столбец с данными о длинне наименования фильмов
data['overview_len'] = data.overview.apply(lambda x: len(str(x).split(' ')))

#находим ниманования фильмов длинной больше среднего
overview_long = data[data.overview_len > data.overview_len.mean()]

#в новом датафрейме считаем количество повторений кинокомпаний для фильмов с длинным наименованием
companies = overview_long.production_companies.str.cat(sep='|').split('|')
companies = pd.Series(companies)
companies = companies.value_counts(ascending=False)
display(companies)

Universal Pictures               95
Warner Bros.                     82
Paramount Pictures               61
Columbia Pictures                58
Relativity Media                 45
                                 ..
Dune Films                        1
Biscayne Pictures                 1
Internationale Filmproduktion     1
Phase 1 Productions               1
TF1 Films Productions             1
Length: 1033, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [341]:
# вариант ответа на Вопрос 26.
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [342]:
#код для решения Вопроса 25 (вариант 1).

#создадим датасет с наименование фильмов и рейтингом
#отфильтруем по рейтингу выше одного процента лучших по рейтингу фильмов
#сортируем от самого лучшего
rating_movies = data[['original_title', 'vote_average']
                    ][data['vote_average'] >= (data['vote_average'].quantile(.99))
                     ].sort_values('vote_average', ascending=False)


display(rating_movies.head(10))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
370                                       Inception           7.9
1191                               12 Years a Slave           7.9
1183                        The Wolf of Wall Street           7.9
1081  The Lord of the Rings: The Return of the King           7.9
872                                     The Pianist           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [345]:
# вариант ответа на Вопрос 27.
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [ ]:
# к сожалению это просто догадка

#создала список всех аттеров в датасете
#cast_all = data[['original_title', 'cast']]['cast'].str.split('|').sum()

#создала все возможные пары 
#twosome = list(itertools.combinations(cast_all, 2))
#twosome = pd.Series(itertools.combinations(cast_all, 2))

#a дальше никак((

# Submission

In [386]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '1. Universal Pictures (Universal)',
 '25': '1. Universal Pictures (Universal)',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [387]:
# и убедиться что ни чего не пропустил)
len(answers)

27